/* Imported Fonts */
@import url('https://fonts.google.com/share?selection.family=Bebas%20Neue%7CMontserrat:ital,wght@0,400;0,700;1,400');

/* CSS Reset */
/* Font Size  */
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    color:#0D0D0D;
    text-align: center;
}

h2 {
    font-family: 'bebas neue', sans-serif;
    font-size: 30px;
}

h3 {
    font-family: 'bebas neue', sans-serif;
    font-size: 25px;
}

nav a, nav span, menu li, #social li, footer{
    font-size: 20px;
}

p, dd, li, nav, input {
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
}

dt {
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

body {
    color:#0D0D0D;
}
/* header */
.menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu ul {
    display: flex;
    white-space: wrap;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.menu ul li button {
    color:#EB5428;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}

/* Taco Image */
#street-tacos img {
    width: 100%;
    height: auto;
}



/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    color:#0D0D0D;
    color:#F2F2F2;
    color:#7ABFBF;
    color:rgba(122, 191, 191, 0.5);
    color:#EB5428;
}


/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
@media screen and (min-width: 450px) {

}

